extends layout

block body
      h1 Test page
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo debitis, nam tenetur fuga animi impedit aspernatur earum ut beatae, ducimus voluptas distinctio quaerat atque ratione! Maiores nihil sequi quo ad!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi cumque beatae quaerat a qui sed modi numquam voluptatum accusamus? Modi error laboriosam mollitia explicabo sapiente sed accusantium deleniti distinctio cum!
      h6 seeyoulater